[submodule "StreamingApp-iOS"]
	path = StreamingApp-iOS
	url = git@github.com:nkllkc/StreamingApp-iOS.git
[submodule "hid_controller"]
	path = hid_controller
	url = git@github.com:nkllkc/hid_controller.git
